.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;
  min-width: 500px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
}

.half-width {
  flex: 1;
}
